<!DOCTYPE html>
<html>
<head>
    <title>Allowed Users</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <a href="/dashboard">Dashboard</a>
    <a href="/allowed">Allowed</a>
    <a href="/denied">Denied</a>
    <a href="/logout" class="right">Logout</a>
</div>

<h2>Allowed Users</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Dept</th>
        <th>Designation</th>
        <th>Entry Time</th>
        <th>Exit Time</th>
    </tr>

    {% for row in logs %}
    <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[9] }}</td>
        <td>{{ row[10] }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
