<!DOCTYPE html>
<html>
<head>
    <title>Filter Results</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/theme.js" defer></script>

</head>
<body>

<div class="navbar">
    <a href="/dashboard">Dashboard</a>
    <a href="/allowed">Allowed</a>
    <a href="/denied">Denied</a>
    <a href="/logout" class="right">Logout</a>
</div>

<h2>Filtered by: {{ reason }}</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Dept</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Entry Time</th>
    </tr>

    {% for row in logs %}
    <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[9] }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
